body{
    background: #F4f4f4;
    margin: 0;
}

.Link-title{
    text-decoration: none;
    font-size: 24px;
    color: #444444;
    
}

.headerlogin{
    font-size: 24px;
}

.container{
    background: #FFF;
    margin: 0 auto;
    width: 780px;
}

.header{
    padding: 45px 0 20px 40px;
    border: 2px solid black;
}

.menu{
    background: #3b7687;
    padding: 6px 0px 6px 40px;
}

.menu a{
    color : #c5d6db;
    text-decoration: none;
    font-size: 14px;
    font-family: "Arial Narrow";  
}

.menu a:hover{
    color: #ecf2f3;
}


aside {
    float: left;
    width: 120px;
    padding: 30px 0px 0px 40px;
}

h1{
    margin: 0px;
    color: #869843;
    font-size: 24px;
    font-family: "Myriad Pro";
    font-weight: Normal;
}

h2{
    margin: 20px 0 5px 0;
    color: #3b7687;
    font-size: 15px;
   
}

.main{
    margin: 0 0 0 150px;
    padding: 35px 40px 30px 0;
    font-family: "Georgia";
    color: #444444;
    font-size: 13px;
    line-height: 18px;
    text-align: justify;
    
}

#home-image img{
    width : 100%;
}

.main a:hover{
    color:#444444;
}
footer{
    padding: 6px 40px 6px 40px;
    background: #6d6d6d;
    font-family: "Lucida Sans Unicode";
    font-size: 11px;
    text-align: justify;
    
}

footer a{
    text-decoration: none;
    color: #262626;
    
}

.seperator{
    color: #FFFFFF;
    font-size: 11px;
   
}

/******* About Page Styles******/

#about-page #home-image img{
    
    width: 70%;
    float: left;
    margin-bottom: 20px;

}

#about-page #Profile-info
{
    float: right;
    margin: 1px;
}

#about-page .description{
    clear: both;
}

/*********************** Conatct Page**********************/

#contact #form{
    width: 500px;
    border: 2px solid black;
    padding: 20px 45px 15px 15px;
    margin: 0 auto;
    
    /* background-color: white; */
    /* box-shadow: 0 0 black; */
}

.page-heading{
    text-align: center;
    margin-bottom: 20px;
}

#contact #form input{
    
    width: 100%;
    border-radius: 5px;
    height: 20px;
    background: whitesmoke;

}
#contact #form #message{
    
    width: 100%;
    border-radius: 5px;
    background: whitesmoke;

}

#contact #form #submit{
    background: rgb(59,118,135);
    height: 30px;
    width: 500px;
    align-content: center;
}


/*Dropdown*/

#demo {
        margin: 30px 0 50px 0;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    }
    
    #demo .wrapper {
        display: inline-block;
        width: 180px;
        margin: 0 10px 0 0;
        height: 20px;
        position: relative;
    }
    
    #demo .parent {
        height: 100%;
        width: 100%;
        display: block;
        cursor: pointer;
        line-height: 30px;
        height: 30px;
        border-radius: 5px;
        background: #F9F9F9;
        border: 1px solid #AAA;
        border-bottom: 1px solid #777;
        color: #282D31;
        font-weight: bold;
        z-index: 2;
        position: relative;
        -webkit-transition: border-radius .1s linear, background .1s linear, z-index 0s linear;
        -webkit-transition-delay: .8s;
        text-align: center;
    }
    
    #demo .parent:hover,
    #demo .content:hover ~ .parent {
        background: #fff;
        -webkit-transition-delay: 0s, 0s, 0s;
    }
    
    #demo .content:hover ~ .parent {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        z-index: 0;
    }
    
    #demo .content {
        position: absolute;
        top: 0;
        display: block;
        z-index: 1;
        height: 0;
        width: 180px;
        padding-top: 30px;
        -webkit-transition: height .5s ease;
        -webkit-transition-delay: .4s;
        border: 1px solid #777;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(0,0,0,.4);
    }
    
    #demo .wrapper:active .content {
        height: 123px;
        z-index: 3;
        -webkit-transition-delay: 0s;
    }
    
    #demo .content:hover {
        height: 123px;
        z-index: 3;
        -webkit-transition-delay: 0s;
    }
    
    
    #demo .content ul {
        background: #fff;
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 100%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    
    #demo .content ul a {
        text-decoration: none;
    }
    
    #demo .content li:hover {
        background: #eee;
        color: #333;
    }
    
    #demo .content li {
        list-style: none;
        text-align: left;
        color: #888;
        font-size: 14px;
        line-height: 30px;
        height: 30px;
        padding-left: 10px;
        border-top: 1px solid #ccc;
    }
    
    #demo .content li:last-of-type {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }


.Report
{
    background-color :  rgb(59,118,135);
    height : 140px;
    Width : 80%;
    text-align: left;
    font-size: 50px;
    color: whitesmoke;
}

.testclass1{
color: red;
}

.testclass2{
background-color: #06f263;
}

.test_glassdoor{
    
        border: 1px solid transparent;
        border-radius: 3px;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
        display: inline-block;
        line-height: 1.6;
        user-select: none;
        vertical-align: middle;
        transition: color 0.2s ease-out 0s, background-color 0.2s ease-out 0s;
        font-family: Lato;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 88px;
        color: rgb(2, 23, 53);
        background-color: transparent;
        padding: 7px 16px;
   }

   .test_glassdoor_1{
    color: #116de6!important;
    margin: 2px!important;
    padding: 2px !important;
   }


   /*Chargebee- Pricing*/
    /** 
   * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    background: #2e2a2a;
    color: rgb(255, 255, 255);
    font-size: 62.5%;
    font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    color: #e95846;
    text-decoration: none;
  }
  
  .pricing-table-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.6em;
    color: #FFF;
    margin-top: 15px;
    text-align: left;
    margin-bottom: 25px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  }
  
  .pricing-table-title a {
    font-size: 0.6em;
  }
  
  .clearfix:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
    clear: both;
  }
  /** ========================
   * Pricing
   ============================*/
  /*
   .pricing-wrapper {
    width: 960px;
    margin: 40px auto 0;
  }
  
  .pricing-table {
    margin: 0 10px;
    text-align: center;
    width: 300px;
    float: left;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.4);
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .pricing-table:hover {
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
    transform: scale(1.06);
  }
  
  .pricing-title {
    color: #FFF;
    background: #e95846;
    padding: 20px 0;
    font-size: 2em;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  }
  
  .pricing-table.recommended .pricing-title {
    background: #2db3cb;
  }
  
  .pricing-table.recommended .pricing-action {
    background: #2db3cb;
  }
  
  .pricing-table .price {
    background: #403e3d;
    font-size: 3.4em;
    font-weight: 700;
    padding: 20px 0;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  }
  
  .pricing-table .price sup {
    font-size: 0.4em;
    position: relative;
    left: 5px;
  }
  
  .table-list {
    background: #FFF;
    color: #403d3a;
  }
  
  .table-list li {
    font-size: 1.4em;
    font-weight: 700;
    padding: 12px 8px;
  }
  
  .table-list li:before {
    /*content: "\f00c";*/

   /* 
    font-family: 'FontAwesome';
    color: #3fab91;
    display: inline-block;
    position: relative;
    right: 5px;
    font-size: 16px;
  } 
  
  .table-list li span {
    font-weight: 400;
  }
  
  .table-list li span.unlimited {
    color: #FFF;
    background: #e95846;
    font-size: 0.9em;
    padding: 5px 7px;
    display: inline-block;
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    border-radius: 38px;
  }
  
  
  .table-list li:nth-child(2n) {
    background: #F0F0F0;
  }
  
  .table-buy {
    background: #FFF;
    padding: 15px;
    text-align: left;
    overflow: hidden;
  }
  
  .table-buy p {
    float: left;
    color: #37353a;
    font-weight: 700;
    font-size: 2.4em;
  }
  
  .table-buy p sup {
    font-size: 0.5em;
    position: relative;
    left: 5px;
  }
  
  .table-buy .pricing-action {
    float: right;
    color: #FFF;
    background: #e95846;
    padding: 10px 16px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-weight: 700;
    font-size: 1.4em;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .table-buy .pricing-action:hover {
    background: #cf4f3e;
  }
  
  .recommended .table-buy .pricing-action:hover {
    background: #228799;  
  }
  
  /** ================
   * Responsive
   ===================*/
   
   @media only screen and (min-width: 768px) and (max-width: 959px) {
    .pricing-wrapper {
      width: 768px;
    }
  
    .pricing-table {
      width: 236px;
    }
    
    .table-list li {
      font-size: 1.3em;
    }
  
   }
  
   @media only screen and (max-width: 767px) {
    .pricing-wrapper {
      width: 420px;
    }
  
    .pricing-table {
      display: block;
      float: none;
      margin: 0 0 20px 0;
      width: 100%;
    }
   }
  
  @media only screen and (max-width: 479px) {
    .pricing-wrapper {
      width: 300px;
    }
  } 

  
  .our_button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

our_button:hover,
our_button:focus {
    background: #0053ba;
}

our_button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

/** Hot keys CSS**/



